In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd

The code above simply imports the packeages we are going to use in this assignment.

In [2]:
iris_df = pd.read_csv('https://raw.githubusercontent.com/mpourhoma/CS4661/master/iris.csv')

The code above downloads the data set from an online source and places it into a DataFrame.
The code below is a quick check to make sure we imported correctly.

In [3]:
iris_df[0::10]

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
10            5.4          3.7           1.5          0.2      setosa
20            5.4          3.4           1.7          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
50            7.0          3.2           4.7          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
70            5.9          3.2           4.8          1.8  versicolor
80            5.5          2.4           3.8          1.1  versicolor
90            5.5          2.6           4.4          1.2  versicolor
100           6.3          3.3           6.0          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
120           6.9          3.2           5.7          2.3   virginica
130           7.4          2.8           6.1          1.9   virginica
140           6.7          3.1           5.6          2.4   virginica

In [244]:
feature_cols = ['sepal_length','sepal_width','petal_length', 'petal_width']
#test_list = ['sepal_length','petal_length']
X = iris_df[feature_cols]

In [245]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

The code above creates a feature matrix (Labeled 'X') out of the first 4 rows of the iris DataFrame.
The code below creates a series for the labels column, names 'y'

In [246]:
y = iris_df['species']

In [247]:
y[::10]

0          setosa
10         setosa
20         setosa
30         setosa
40         setosa
50     versicolor
60     versicolor
70     versicolor
80     versicolor
90     versicolor
100     virginica
110     virginica
120     virginica
130     virginica
140     virginica
Name: species, dtype: object

Here, below, we are instantiating an object from the KNeighborsClassifier class, setting k=3, but we will change k's value later in this assignment

In [248]:
k = 3
my_knn_for_cs4661 = KNeighborsClassifier(n_neighbors=k)

Below, we are randomly separating the training and testing sets.

In [249]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [250]:
print(X_train.shape)
print(y_train.shape)

(90, 4)
(90,)

Above, we printed the size of the training set.
Below, we printed the size of the testing set

In [251]:
print(X_test.shape)
print(y_test.shape)

(60, 4)
(60,)

Below we train the training set only

In [252]:
my_knn_for_cs4661.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

Next, we test our machine on the testing set only, the results are saved as y_predict.

In [253]:
y_predict = my_knn_for_cs4661.predict(X_test)

print(y_predict)

['setosa' 'virginica' 'setosa' 'setosa' 'virginica' 'versicolor'
 'virginica' 'setosa' 'virginica' 'versicolor' 'virginica' 'versicolor'
 'virginica' 'virginica' 'versicolor' 'versicolor' 'virginica'
 'versicolor' 'versicolor' 'setosa' 'setosa' 'virginica' 'setosa' 'setosa'
 'versicolor' 'versicolor' 'versicolor' 'virginica' 'setosa' 'versicolor'
 'setosa' 'versicolor' 'setosa' 'setosa' 'versicolor' 'virginica'
 'versicolor' 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica'
 'versicolor' 'versicolor' 'setosa' 'setosa' 'versicolor' 'setosa'
 'setosa' 'versicolor' 'virginica' 'virginica' 'virginica' 'setosa'
 'virginica' 'setosa' 'setosa' 'setosa' 'versicolor' 'virginica']

Next we check our accuracy.

In [254]:
accuracy = accuracy_score(y_test, y_predict)

print(accuracy)

0.9666666666666667

For part C, we will repeat our steps for different K values using a for loop.

In [255]:
accuracyResults = []
for k in range(60):
    if (k == 1) | (k == 5) | (k == 7) | (k == 11) | (k == 15) | (k == 27) | (k == 59):
        my_knn_for_myLoop = KNeighborsClassifier(n_neighbors=k)
        my_knn_for_myLoop.fit(X_train, y_train)
        y_pred = my_knn_for_myLoop.predict(X_test)
        loopAccuracy = accuracy_score(y_test, y_pred)
        accuracyResults.append((k,loopAccuracy))
print(accuracyResults)

[(1, 0.95), (5, 0.9833333333333333), (7, 0.9666666666666667), (11, 0.9666666666666667), (15, 0.9333333333333333), (27, 0.9166666666666666), (59, 0.8166666666666667)]

In [256]:
single_feat_accuracy_list = []

for x in feature_cols:
    temp_list = [x]
    X_1 = iris_df[temp_list]
    X_1train, X_1test, y_1train, y_1test = train_test_split(X_1, y, test_size=0.4, random_state=6)
#    print(X_1train.shape)
#    print(y_1train.shape)
#    print(X_1test.shape)
#    print(y_1test.shape)
#    print(x)
    my_knn_for_cs4661.fit(X_1train, y_1train)
    y_1pred = my_knn_for_cs4661.predict(X_1test)
#    print(y_1pred)
    single_feat_accuracy = accuracy_score(y_1test, y_1pred)
#    print(single_feat_accuracy)
    single_feat_accuracy_list.append((x, single_feat_accuracy))
print(single_feat_accuracy_list)

[('sepal_length', 0.7166666666666667), ('sepal_width', 0.5666666666666667), ('petal_length', 0.9333333333333333), ('petal_width', 0.95)]

The snippet of code, above, is part D for the assignment. I used a loop to create a single feature Dataframe, looping through all of the original fearures once, then I repeated part C on each new dataframe. The petal_width feature had the best accuracy, while the petal_length feature came in second.

In [257]:
double_feats_list = [['sepal_length', 'sepal_width'], ['sepal_length', 'petal_length'], ['sepal_length', 'petal_width'], ['sepal_width', 'petal_length'], ['sepal_width', 'petal_width'], ['petal_length', 'petal_width']]
double_feats_accuracy_list = []

for x in double_feats_list:
    X_1 = iris_df[x]
    X_1train, X_1test, y_1train, y_1test = train_test_split(X_1, y, test_size=0.4, random_state=6)
#    print(X_1train.shape)
#    print(y_1train.shape)
#    print(X_1test.shape)
#    print(y_1test.shape)
#    print(x)
    my_knn_for_cs4661.fit(X_1train, y_1train)
    y_1pred = my_knn_for_cs4661.predict(X_1test)
#    print(y_1pred)
    double_feat_accuracy = accuracy_score(y_1test, y_1pred)
#    print(double_feat_accuracy)
    double_feats_accuracy_list.append((x,double_feat_accuracy))
print(double_feats_accuracy_list)

[(['sepal_length', 'sepal_width'], 0.8166666666666667), (['sepal_length', 'petal_length'], 0.9833333333333333), (['sepal_length', 'petal_width'], 0.95), (['sepal_width', 'petal_length'], 0.95), (['sepal_width', 'petal_width'], 0.95), (['petal_length', 'petal_width'], 0.9666666666666667)]

This, above, is part F of the assignment. I used a similar loop as part E to change the Dataframe to take in 2 features. The best pair of features were the "sepal_length" and "petal_length" pair, which had an accuracy of .98.

Part G of the assignment was to compare Part F and Part E. Part F's best feature pair were "sepal_length" and "petal_length". Part E's top 2 features were petal_width and petal_length. Looking at the data, we cannot conclude that best feature pair was the top 2 features from the individual feature's exercise.