In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn import metrics
from sklearn.preprocessing import scale
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
import matplotlib.pyplot as plt

First we properly scan the CA housing data .csv from the github repo

In [2]:
df = pd.DataFrame()
df = pd.read_csv("https://raw.githubusercontent.com/Chris323/FileDump/main/california_house.csv")
#df.shape

Next we print the data to make sure it properly saved into a dataframe

In [3]:
df[0::100]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
100,2.4912,29.0,3.724800,1.131200,2304.0,1.843200,37.81,-122.25,2.578
200,3.0257,52.0,4.046948,1.009390,994.0,4.666667,37.78,-122.23,0.808
300,1.9479,50.0,4.825203,1.060976,907.0,3.686992,37.76,-122.18,0.895
400,4.2614,52.0,5.520958,0.994012,769.0,2.302395,37.88,-122.28,2.613
...,...,...,...,...,...,...,...,...,...
20200,4.1667,12.0,6.628571,1.057143,79.0,2.257143,34.25,-119.19,2.146
20300,3.1989,31.0,4.376310,1.052411,3310.0,3.469602,34.15,-119.19,1.854
20400,4.9234,25.0,5.824561,0.916667,691.0,3.030702,34.21,-118.85,2.414
20500,6.1825,27.0,6.756637,0.973451,756.0,3.345133,34.30,-118.70,2.270
20600,3.1029,18.0,4.945455,1.112121,769.0,2.330303,39.16,-121.57,0.717

Next we need to properly scale the data

In [4]:
scaled_df = scale(df)

In [5]:
scaled_df[0::100]

array([[ 2.34476576,  0.98214266,  0.62855945, ...,  1.05254828,
        -1.32783522,  2.12963148],
       [-0.72612309,  0.02864572, -0.68881236, ...,  1.01977522,
        -1.33781784,  0.44148486],
       [-0.44477409,  1.85618152, -0.55860475, ...,  1.00572963,
        -1.32783522, -1.09240607],
       ...,
       [ 0.55413331, -0.2891866 ,  0.15988018, ..., -0.66569643,
         0.3592266 ,  0.29936163],
       [ 1.21689576, -0.13027044,  0.53661143, ..., -0.62355964,
         0.43409621,  0.17457051],
       [-0.40413771, -0.84539315, -0.19544182, ...,  1.65182709,
        -0.99840895, -1.17126712]])

In [6]:
df.columns.values

array(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population',
       'AveOccup', 'Latitude', 'Longitude', 'SalePrice'], dtype=object)

In [7]:
df2 = pd.DataFrame(data = scaled_df, columns = df.columns.values)

In [8]:
df2

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
0,2.344766,0.982143,0.628559,-0.153758,-0.974429,-0.049597,1.052548,-1.327835,2.129631
1,2.332238,-0.607019,0.327041,-0.263336,0.861439,-0.092512,1.043185,-1.322844,1.314156
2,1.782699,1.856182,1.155620,-0.049016,-0.820777,-0.025843,1.038503,-1.332827,1.258693
3,0.932968,1.856182,0.156966,-0.049833,-0.766028,-0.050329,1.038503,-1.337818,1.165100
4,-0.012881,1.856182,0.344711,-0.032906,-0.759847,-0.085616,1.038503,-1.337818,1.172900
...,...,...,...,...,...,...,...,...,...
20635,-1.216128,-0.289187,-0.155023,0.077354,-0.512592,-0.049110,1.801647,-0.758826,-1.115804
20636,-0.691593,-0.845393,0.276881,0.462365,-0.944405,0.005021,1.806329,-0.818722,-1.124470
20637,-1.142593,-0.924851,-0.090318,0.049414,-0.369537,-0.071735,1.778237,-0.823713,-0.992746
20638,-1.054583,-0.845393,-0.040211,0.158778,-0.604429,-0.091225,1.778237,-0.873626,-1.058608
20639,-0.780129,-1.004309,-0.070443,0.138403,-0.033977,-0.043682,1.750146,-0.833696,-1.017878

Next we drop any nan values the data may contain

In [9]:
df2.dropna(inplace=True)
df2

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
0,2.344766,0.982143,0.628559,-0.153758,-0.974429,-0.049597,1.052548,-1.327835,2.129631
1,2.332238,-0.607019,0.327041,-0.263336,0.861439,-0.092512,1.043185,-1.322844,1.314156
2,1.782699,1.856182,1.155620,-0.049016,-0.820777,-0.025843,1.038503,-1.332827,1.258693
3,0.932968,1.856182,0.156966,-0.049833,-0.766028,-0.050329,1.038503,-1.337818,1.165100
4,-0.012881,1.856182,0.344711,-0.032906,-0.759847,-0.085616,1.038503,-1.337818,1.172900
...,...,...,...,...,...,...,...,...,...
20635,-1.216128,-0.289187,-0.155023,0.077354,-0.512592,-0.049110,1.801647,-0.758826,-1.115804
20636,-0.691593,-0.845393,0.276881,0.462365,-0.944405,0.005021,1.806329,-0.818722,-1.124470
20637,-1.142593,-0.924851,-0.090318,0.049414,-0.369537,-0.071735,1.778237,-0.823713,-0.992746
20638,-1.054583,-0.845393,-0.040211,0.158778,-0.604429,-0.091225,1.778237,-0.873626,-1.058608
20639,-0.780129,-1.004309,-0.070443,0.138403,-0.033977,-0.043682,1.750146,-0.833696,-1.017878

Next we create the x and y matrices, here is where I adjusted the feature sets to accomodate my tests.

In [10]:
feature_columns = ['MedInc','HouseAge','AveRooms','AveBedrms','Population','AveOccup','Latitude','Longitude']
#feature_columns = ['HouseAge','AveRooms','AveBedrms','AveOccup'] #Performed Poorly, worst
#feature_columns = ['MedInc', 'Population','Latitude','Longitude'] # Second/Best
x = df2[feature_columns]
y = df2['SalePrice']

Here we check the data size and output

In [11]:
print(x.shape)
x

(20640, 8)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,2.344766,0.982143,0.628559,-0.153758,-0.974429,-0.049597,1.052548,-1.327835
1,2.332238,-0.607019,0.327041,-0.263336,0.861439,-0.092512,1.043185,-1.322844
2,1.782699,1.856182,1.155620,-0.049016,-0.820777,-0.025843,1.038503,-1.332827
3,0.932968,1.856182,0.156966,-0.049833,-0.766028,-0.050329,1.038503,-1.337818
4,-0.012881,1.856182,0.344711,-0.032906,-0.759847,-0.085616,1.038503,-1.337818
...,...,...,...,...,...,...,...,...
20635,-1.216128,-0.289187,-0.155023,0.077354,-0.512592,-0.049110,1.801647,-0.758826
20636,-0.691593,-0.845393,0.276881,0.462365,-0.944405,0.005021,1.806329,-0.818722
20637,-1.142593,-0.924851,-0.090318,0.049414,-0.369537,-0.071735,1.778237,-0.823713
20638,-1.054583,-0.845393,-0.040211,0.158778,-0.604429,-0.091225,1.778237,-0.873626
20639,-0.780129,-1.004309,-0.070443,0.138403,-0.033977,-0.043682,1.750146,-0.833696

In [12]:
print(y.shape)
y

(20640,)

0        2.129631
1        1.314156
2        1.258693
3        1.165100
4        1.172900
           ...
20635   -1.115804
20636   -1.124470
20637   -0.992746
20638   -1.058608
20639   -1.017878
Name: SalePrice, Length: 20640, dtype: float64

Next we create testing and training sets

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = 6)

Next we are going to create the final list that will contain all of the predictions for each prediction model.

In [14]:
final_dataset = []
final_dataset.clear()

Next we use the training and testing set on our prediction models, starting with Linear Regression

Linear Regression

In [15]:
myLR = LinearRegression()
myLR.fit(x_train, y_train)
myLR_y_predict = myLR.predict(x_test)
myLR_mse = metrics.mean_squared_error(y_test, myLR_y_predict)
myLR_rmse = np.sqrt(myLR_mse)
final_dataset.append(myLR_y_predict)
#final_dataset #Checking proper append
#myLR_y_predict

Random Forest Regression

In [16]:
myRF = RandomForestRegressor(n_estimators = 19, bootstrap = True, random_state = 3)
myRF.fit(x_train, y_train)
myRF_y_predict = myRF.predict(x_test)
myRF_mse = metrics.mean_squared_error(y_test, myRF_y_predict)
myRF_rmse = np.sqrt(myRF_mse)
final_dataset.append(myRF_y_predict)
#final_dataset #Checking proper append
#myRF_y_predict

Ada Boost Regression

In [17]:
myADA = AdaBoostRegressor()
myADA.fit(x_train, y_train)
myADA_y_predict = myADA.predict(x_test)
myADA_mse = metrics.mean_squared_error(y_test, myADA_y_predict)
myADA_rmse = np.sqrt(myADA_mse)
final_dataset.append(myADA_y_predict)
#final_dataset
#myADA_y_predict

KNeighbors Regressor

In [18]:
myKNR = KNeighborsRegressor()
myKNR.fit(x_train, y_train)
myKNR_y_predict = myKNR.predict(x_test)
myKNR_mse = metrics.mean_squared_error(y_test, myKNR_y_predict)
myKNR_rmse = np.sqrt(myKNR_mse)
final_dataset.append(myKNR_y_predict)
#final_dataset
#myADA_y_predict

Next we add in all our y predictions into one final dataframe, compute the RSME for the ave column, and compare the results.

In [19]:
final_df = pd.DataFrame(final_dataset)
final_df = final_df.transpose()
final_df['Ave_SalePrice'] = final_df.mean(numeric_only = True, axis = 1)
final_y_predict = final_df['Ave_SalePrice'].values
final_df

             0         1         2         3  Ave_SalePrice
0     0.226276 -0.243088  0.721211  0.082190       0.196648
1     0.570061  1.691770  1.098373  0.366785       0.931747
2     1.098269  1.335458  1.284060  1.421270       1.284764
3     2.846243  2.540411  1.657993  2.540411       2.396264
4    -0.162211 -0.228127 -0.212265 -0.217655      -0.205065
...        ...       ...       ...       ...            ...
5155  0.435203  0.385703  0.791525  0.486202       0.524658
5156  0.334930 -0.245687  0.530773  0.096056       0.179018
5157  0.883956  0.467894  0.738314 -0.245386       0.461194
5158  1.399211  1.789150  1.347355  1.897558       1.608318
5159  0.444334  0.641716  0.925291  0.695053       0.676599

[5160 rows x 5 columns]

Lastly, we compare the RMSE for all the columns.

In [20]:
last_col_mse = metrics.mean_squared_error(y_test, final_y_predict)
last_col_rmse = np.sqrt(last_col_mse)
print('Column 0, Linear Regression RMSE:', myLR_rmse)
print('Column 1, Random Forest RMSE:', myRF_rmse)
print('Column 2, Ada Boost RMSE:', myADA_rmse)
print('Column 3, KNieghbors Regressor RMSE:', myKNR_rmse)
print('Column Ave_SalePrice, RMSE:', last_col_rmse)

Column 0, Linear Regression RMSE: 0.6353636558390326
Column 1, Random Forest RMSE: 0.461255167191932
Column 2, Ada Boost RMSE: 0.807459740863927
Column 3, KNieghbors Regressor RMSE: 0.569487238789513
Column Ave_SalePrice, RMSE: 0.5334415526821611